{% extends "basic.html" %}

{% block content %}
<div class="about_page">
    <div>
        <h3>About Me</h3>
        <br>
        <p>I am Naveen, a Data Analyst, Trader. I've spent 13+ years in different roles of operations, 
            projects and analytics in Dalmia Cement Bharat Limited. I've spent 
            4 years in learning Python, SQL, Power BI and Trading and implemented my own 
            trading dashboard with Streamlit.
            <br>
        <p>These days, I am doing day trading, swing trading and trying to
            explore algorithmic trading, portfolio optimization and building 
            dashboards with Python or Power BI.
        </p>
        </p>
        <p>
            You can checkout about other application , developed on Streamlit 
            <a href="https://trademetriks.streamlit.app">https://trademetriks.streamlit.app</a>
        </p>
    </div>
    <div class="issues">
        <p> Thanks for checking out this application. </p>
        <p> If you have any suggestions or feedback , please submit at 
            <a href="https://github.com/naveenkonam1985/thinktrade">
                https://github.com/naveenkonam1985/thinktrade</a>
        </p>
        
    </div>
</div>
{% endblock %}