{% extends "basic.html" %}

{% block content %}
<div class="form_page">
    <div class="form">
        <h3>Enter Assets Data</h3>   
        <form method="post">
            <label for="name">
                <div class="flabel">Name</div></label>
            <input type="text" name="name" value="{{ request.form['name'] }}"></input>
            <br>

            <label for="qty">
                <div class="flabel">Quantity</div></label>
            <input name="quantity" value="{{ request.form['quantity'] }}"></input>
            <br>

            <label for="price">
                <div class="flabel">Buy Price</div></label>
            <input name="price" value="{{ request.form['price'] }}"></input>
            <br>

            <label for="price">
                <div class="flabel">Buy Date</div></label>
            
            <input type="date" name="date" value="{{ request.form['date'] }}"></input>
            <br>
            <p></p>
            <div class="buttons">
                <button type="submit">Submit</button>
            </div>
            
        </form>
    </div>
    <div class="data">
        <h3>Portfolio</h3>
        <div class="summary">
            <div class="tabledata">
                <p>Asset Details</p>
                {{tables|safe}}
            </div>
            <div class="ratios">
                <p>Portfolio Summary</p>
                <p>Portfolio Weights</p>
                <p>Sharpe Ratio</p>
                <p>
                    Portfolio Performance over the period chart
                </p>
                <p>get Optimized weights and Quantities</p>
            </div>
        </div>
    </div>

</div>
{% endblock %}